@import 'variables';

// CSS pour la carte

.object-card {
    width: 28%;
    max-width: 175px;
    height: auto;
    box-shadow: 0px 1px 7.5px 0px rgba(11, 1, 41, 0.35);
    border-radius: 8px;
    padding: 5px;
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: end;
    justify-content: left;

    label {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    span {
        font-family: $cabin;
        font-size: $font-size-14;
        font-weight: $font-weight-600;
        text-transform: uppercase;
        color: $mauve-rezav;
        user-select: none;
    }

    &.selected {
        outline: solid 2px $mauve-rezav;
    }
}

// CSS Pour les catégories d'objets

.category-title {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    margin: 20px 0;
    font-family: $main-font;
    font-weight: $font-weight-600;
    font-size: $font-size-16;
    color: $mauve-rezav;
    text-transform: uppercase;

    &::after,
    &::before {
        content: "";
        flex: 1;
        border-bottom: 2px solid $mauve-rezav;
        margin: 0 10px;
    }
    &::after {
        width: auto; /* Trait qui prend tout l'espace restant à droite */
    }
    &::before {
        width: 7%; /* Trait fixe de 100px à gauche */
        flex: none; /* Empêche l'extension */
    }
}

.category-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}