@import 'variables';

//CSS pour le checkbos de l'application REZAV

.rezav-checkbox {
    display: none;
}

.rezav-checkbox:checked+.rezav-checkbox-label {
    background-color: $mauve-rezav;
}

.rezav-checkbox-label {
    width: 14px;
    height: 14px;
    border: 2px solid $mauve-rezav;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        left: 4px;
        top: 0px;
        width: 4px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        display: block;
    }
}

.rezav-checkbox:not(:checked)+.rezav-checkbox-label:hover {
    background-color: $mauve-rezav-20;

    &::before {
        display: none;
    }
}
