@use 'variables' as *;

.main-hdr {
    row-gap: 5px;
    &.list-obj {
        display: flex;
        flex-flow: column;

        .search-filter-container {
            display: flex;
            flex-flow: row nowrap;
            gap: 10px;
            align-self: flex-end;
        }
    }
    &.list-obj.selectable {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        .page-title {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }

        .search-filter-container {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            justify-self: flex-end;
        }
        .date-form-container {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            display: flex;
            flex-flow: row wrap;
            width: fit-content;
            gap: 10px;
            justify-self: flex-start;
            padding-left: 10px;
            position: relative;
            overflow: visible;

            .date-error {
                position: absolute;
                bottom: 0;
                left: 15px;
                transform: translateY(calc(100% + 2px));
                font-family: $main-font;
                color: $dark-red-rezav;
                font-size: $font-size-12;
                width: fit-content;
                white-space: nowrap;
            }
        }
    }
}

@media only screen and (max-width : 794px) {
    .main-hdr {
        &.list-obj.selectable {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            row-gap: 15px;

            .search-filter-container {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                justify-self: center;
            }
            .date-form-container {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                justify-self: center;
                width: 100%;
                justify-content: center;
            }
        }
    }
}