@use 'variables' as *;
main{
    height: 100vh;
}
.reservations-page{
    display: flex;
    font-family: $main-font;
    gap: 30px;
    padding: 25px 0;
    height: calc(100% - 27px - 25px*2);
}

.tickets-list{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    align-self: stretch;
}
.ticket{
    background-color: #e9e9e9;
    border-radius: 5px;
    padding: 20px 20px 20px  25px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .title-ticket{
        display: flex;
        width: 78%;
        flex-direction: column;
        gap: 3px;
        h3{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .material-symbols-rounded{
        display: flex;
        z-index: 1;
        align-items: center;
    }
    .color-status{
        position: absolute;
        right: 0;
        z-index: 0;
        width: 20%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 40% 100%);
    }
}
.details-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #e9e9e9;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    overflow-y: auto;

}

.details-head{
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 1vh;
}
.details-body{
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 15px;
    .section-body{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .listOfObjects{
        display: flex;
        flex-direction: column;
        
        div{
            display: flex;
            flex-direction: row;
            position: relative;
            gap: 15px;
            div{
                gap: 5px;
                display: flex;
                flex-direction: column;
               img{
                width: 100px;
                height: 100px;
                max-width: 150px;
                border-radius: 10px;
            }
            p {
                white-space: wrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: $font-weight-600;
                font-size: 12px;
                width: 100px;
                
            } 
            }
            
        }
    }
}
@media only screen and (max-width : 481px) {
    .reservations-page{
        flex-direction: column;
    }
    .tickets-list{
        width: 100%;
    }
}