//Import des polices :
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); // import des polices

// Polices : 
$cabin: "Cabin", sans-serif;
$main-font: "Montserrat", sans-serif;

// Tailles de polices :
$font-size-8: 0.5rem;    // 8px
$font-size-10: 0.625rem; // 10px
$font-size-12: 0.75rem;  // 12px
$font-size-14: 0.875rem; // 14px
$font-size-16: 1rem;     // 16px
$font-size-18: 1.125rem; // 18px
$font-size-20: 1.25rem;  // 20px
$font-size-22: 1.375rem;  // 22px
$font-size-24: 1.5rem;   // 24px
$font-size-28: 1.75rem;  // 28px
$font-size-32: 2rem;     // 32px
$font-size-36: 2.25rem;  // 36px
$font-size-40: 2.5rem;   // 40px
$font-size-48: 3rem;     // 48px

// Largeurs de polices :
$font-weight-100: 100;          
$font-weight-200: 200;   
$font-weight-300: 300;         
$font-weight-400: 400;        
$font-weight-500: 500;       
$font-weight-600: 600;      
$font-weight-700: 700;          
$font-weight-800: 800;      
$font-weight-900: 900;         


// Couleurs :
$mauve-rezav:#6d6b9e;
$mauve-rezav-10: rgba(109, 107, 158, 0.1);
$mauve-rezav-20: rgba(109, 107, 158, 0.2);
$mauve-rezav-50: rgba(109, 107, 158, 0.5);

$mauve-rezav-75: rgba(109, 107, 158, 0.75);
$mauve-rezav-90: rgba(109, 107, 158, 0.75);
$dark-red-rezav: #A55151;
$dark-red-rezav-10: #F2E9E9; //rgba(165, 81, 81, 0.1)
$dark-red-rezav-75: rgba(165, 81, 81, 0.75);
$dark-green-rezav: #4B9957;

$yellow-search-varchar: #FFFB91;
$white : #FAFAFA;


// Statut des demandes
$status-red: #F8A5A5;
$status-green : #A3D9A5;
$status-gray : #B6B6B6;
$status-blue : #A7D4F8;